@page "/chua-co-tai-khoan/"
@model ForgotPasswordRegisterConfirmation
@{
    ViewData["Title"] = "Xác nhận đăng kí tài khoản mới";
}

<h1>@ViewData["Title"]</h1>
<p>
    Chưa có tài khoản nào được đăng kí bằng email này
</p>
<p>
    Bạn có muốn đăng kí tài khoản bằng email này không ?
</p>
<div class="row">
    <div class="col-md-4">
        <form method="get" ac>
            <div asp-validation-summary="All" class="text-danger"></div>
            <button type="submit" class="btn btn-primary">Gửi</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}